.nav{
    display: flex;
    justify-content: space-around;
    background: #c4bebe;
    padding: 1em;
    .links{
        a{
            margin: 1em;
        }
    }
}
.active-link{
    color: #000;
}