<div class="card">
    <img [routerLink]="['/product', cardId]" [src]="cardData.photoURL" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">{{cardData.name}}</h5><span>{{cardData.price}}$</span>
        </div>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" [routerLink]="['/product', cardId]" class="btn btn-primary text-center">Add to cart</a>
    </div>
</div>