
.orders-table{
    margin: auto;
}
.prod-icon{
    width: 6em;
}
.orders-table{
    padding: 1em;
    td{
        padding: 1em 2em 1em 1em;
        border-bottom: 1px solid black;
    }
}
input.ng-invalid.ng-tuched,
input.ng-invalid.ng-tuched{
    border-left: 4px solid red;
}